/*
	Wintamins - for healthy window management
	Copyright (C) 2026 hateweb

	This program is free software: you can redistribute it
	and/or modify it under the terms of the GNU General Public
	License as published by the Free Software Foundation,
	either version 3 of the License, or (at your option) any
	later version.

	This program is distributed in the hope that it will be
	useful, but WITHOUT ANY WARRANTY; without even the implied
	warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
	PURPOSE. See the GNU General Public License for more
	details.

	You should have received a copy of the GNU General Public
	License along with this program. If not, see
	<https://www.gnu.org/licenses/>.
*/
#include <windows.h>
#include "resources.h"

#ifndef IDC_STATIC
#define IDC_STATIC -1
#endif

IDI_TRAYLIGHT ICON DISCARDABLE "tray_light.ico"
IDI_TRAYDARK ICON DISCARDABLE "tray_dark.ico"
IDR_LICENSE LICENSE_DATA "LICENSE"

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "wintamins.manifest"
VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0x0L
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "FileDescription", "Wintamins"
            VALUE "Comments", "For healthy window management."
            VALUE "CompanyName", "hateweb"
            VALUE "FileVersion", "1.0"
            VALUE "InternalName", "wintamins"
            VALUE "LegalCopyright", "(C) hateweb, 2026"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

IDD_SETTINGS DIALOGEX 0, 0, 233, 233
STYLE DS_SETFONT | DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_WINDOWEDGE
CAPTION "Wintamins Configuration"
FONT 8, "Ms Shell Dlg", 400, 0, 1
BEGIN
	CONTROL "", IDC_TAB1, "SysTabControl32", WS_CHILD | WS_TABSTOP | TCS_FOCUSNEVER, 4, 4, 225, 207
	PUSHBUTTON "OK", IDOK, 71, 215, 50, 14
	PUSHBUTTON "Cancel", IDCANCEL, 125, 215, 50, 14
	PUSHBUTTON "Apply", IDB_APPLY, 179, 215, 50, 14
END

IDD_GENERAL DIALOGEX 0, 0, 225, 225
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg", 400, 0, 1
BEGIN
	AUTOCHECKBOX "Focus windows on action", IDC_FOCUSWINDOW, 10, 13, 195, 10, BS_TOP
	AUTOCHECKBOX "Grab closest corner when resizing", IDC_CLOSESTCORNER, 10, 25, 195, 10, BS_TOP
	AUTOCHECKBOX "Snap cursor to corner when resizing", IDC_SNAPCURSOR, 10, 37, 195, 10, BS_TOP
	GROUPBOX "Window management", IDC_GROUP_MANAGEMENT, 3, 1, 212, 51, BS_GROUPBOX

	AUTOCHECKBOX "Start Wintamins when logging in", IDC_AUTOSTART, 10, 65, 125, 10
	AUTOCHECKBOX "Hide tray", IDC_HIDETRAY, 10, 77, 125, 10
	AUTOCHECKBOX "Elevate to administrator privileges", IDC_AUTOSTARTADMIN, 10, 89, 125, 10
	PUSHBUTTON "Elevate", IDB_ELEVATE, 161, 86, 50, 14
	GROUPBOX "Autostart", IDC_GROUP_AUTOSTART, 3, 53, 212, 52, BS_GROUPBOX

	AUTOCHECKBOX "Disable titlebars", IDC_HIDEBARS, 10, 118, 195, 10
	GROUPBOX "Experimental", IDC_GROUP_EXPERIMENTAL, 3, 106, 212, 29, BS_GROUPBOX
END

IDD_MOUSE DIALOGEX 0, 0, 225, 225
STYLE DS_CONTROL | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg", 400, 0, 1
BEGIN
	COMBOBOX IDC_MODIFIER, 10, 13, 95, 200, WS_TABSTOP | CBS_DROPDOWNLIST | BS_TOP
	COMBOBOX IDC_MODIFIER2, 113, 13, 95, 200, WS_TABSTOP | CBS_DROPDOWNLIST | BS_TOP
	GROUPBOX "Modifier key", IDC_GROUP_MODKEY, 3, 1, 212, 30, BS_GROUPBOX

	COMBOBOX IDC_LMB, 113, 45, 95, 200, WS_TABSTOP | CBS_DROPDOWNLIST | BS_TOP
	LTEXT "Left mouse button", IDC_STATIC, 10, 48, 95, 20

	COMBOBOX IDC_MMB, 113, 61, 95, 200, WS_TABSTOP | CBS_DROPDOWNLIST | BS_TOP
	LTEXT "Middle mouse button", IDC_STATIC, 10, 64, 95, 20

	COMBOBOX IDC_RMB, 113, 77, 95, 200, WS_TABSTOP | CBS_DROPDOWNLIST | BS_TOP
	LTEXT "Right mouse button", IDC_STATIC, 10, 80, 95, 20

	COMBOBOX IDC_M4, 113, 93, 95, 200, WS_TABSTOP | CBS_DROPDOWNLIST | BS_TOP
	LTEXT "Mouse button 4", IDC_STATIC, 10, 96, 95, 20

	COMBOBOX IDC_M5, 113, 109, 95, 200, WS_TABSTOP | CBS_DROPDOWNLIST | BS_TOP
	LTEXT "Mouse button 5", IDC_STATIC, 10, 112, 95, 20

	COMBOBOX IDC_SCR, 113, 125, 95, 200, WS_TABSTOP | CBS_DROPDOWNLIST | BS_TOP
	LTEXT "Scroll wheel", IDC_STATIC, 10, 128, 95, 20

	GROUPBOX "Regular actions", IDC_GROUP_REGULARACTIONS, 3, 33, 212, 111, BS_GROUPBOX
END

IDD_ABOUT DIALOGEX 0, 0, 225, 225
STYLE DS_CONTROL | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg", 400, 0, 1
BEGIN
	ICON IDI_TRAYDARK, IDC_STATIC, 10, 15, 128, 128, BS_TOP
	LTEXT "Wintamins", IDC_TITLE, 40, 13, 195, 10
	LTEXT "for healthy window management", IDC_STATIC, 41, 25, 195, 10
	LTEXT "Version 0.1", IDC_STATIC, 10, 42, 195, 10
	CONTROL "<a href=""https://github.com/hateweb/Wintamins"">GitHub</a>", IDC_LINK, "SysLink", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 51, 100, 10
	CONTROL "<a href=""open_txt"">Licensed under GNU GPLv2</a>", IDC_LICENSE, "SysLink", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 120, 51, 120, 10
	GROUPBOX "About", IDC_GROUP_ABOUT, 3, 1, 212, 64, BS_GROUPBOX
END

IDM_TRAYMENU MENU
BEGIN
    POPUP "TrayMenu"
    BEGIN
        MENUITEM "Enabled", ID_TRAY_ENABLED
        MENUITEM SEPARATOR
        MENUITEM "Options", ID_TRAY_SHOW
        MENUITEM "About", ID_TRAY_ABOUT
        MENUITEM "Exit", ID_TRAY_EXIT
    END
END
